extends layout

block content
    .panel.panel-default    
        .panel-heading Device Registration (replace this with DPS)
        .panel-body
            form(action='/register', method='post')
                fieldset
                    .form-group.row
                        .col-sm-12     
                            input.form-control(type='text', name='devId', placeholder=dev) 
                    .form-group.row
                        .col-sm-12    
                            input.form-control(type='text', name='cs', placeholder='enter iot hub connection string') 
                    .form-group.row        
                        .col-sm-2
                            button.btn.btn-default(type='submit', name="action", value='connect') register   
